# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.kt text diff=kotlin
*.java text diff=java
*.yml text
*.yaml text
*.json text
*.properties text
*.gradle text diff=gradle
*.md text
*.ps1 text eol=crlf
*.sh text eol=lf

# Binary files
*.jar binary
*.png binary
*.jpg binary
*.gz binary
*.zip binary

# Git files
.gitattributes text
.gitignore text
