# Database
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_PASSWORD=panel_password_change_me

# Panel
APP_KEY=
APP_URL=http://141.147.48.170:8081

# Admin user
ADMIN_USER=admin
ADMIN_PASSWORD=f9ddcb53eaae889b09cfba0a
ADMIN_EMAIL=admin@localhost
